<form action="/content/add" method="post"> 

Page Title<br/>
<input type="text" name="title"><br/>

Page Content<br/>
<textarea cols="80" rows="20" name="content">Content in markdown format goes here</textarea><br/>

<input type="submit" name="Add Contnet"><br/>

	
</form>