<h2>Available Actions</h2>

<% if flash.has?(:notice) %> 
 <div style="background-color:#BBF; padding:3px"> <%= flash[:notice] %></div>
<% end %>
<ul>
	<li><a href="/content/add">Add a new content page</a></li>
</ul>